<%- include("../shared/header.ejs") %>

<div class="main-panel distributors-details">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card p-3 table-responsive">
                    <div class="d-flex justify-content-between my-4">
                        <div class="business-hading d-flex justify-content-between">
                            <h4>Channel Management</h4>
                        </div>
                        <div>
                            <a href="/channel/add" class="btn btn-primary float-right">Add New Channel</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="display table invite table-bordered mt-3 table-hover responsive nowrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Channel Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% channels.forEach(function(channel) { %>
                                    <tr>
                                        <td><%= channel.id %></td>
                                        <td><%= channel.channel_name %></td>
                                        <td>
                                            <a href="/channel/edit/<%= channel.id %>" class="btn btn-sm btn-warning">Edit</a>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../shared/footer.ejs') %>