<%- include("../shared/super_header.ejs") %>
    <div class="main-panel distributors-details">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card p-3 table-responsive">
                        <div class="d-flex justify-content-between my-4">
                            <div class="business-hading d-flex justify-content-between">
                                <h4>DB Managment</h4>

                            </div>
                        </div>
                        <div class="card-body">
                            <form action="/db_managment/offboardingapproverupdate" method="post">
                                <input type="hidden" name="application_id" value="<%= getdbdataById?.id %>" />
                                <div class="form-group">
                                    <label for="dbId">DB Id</label>
                                    <input type="text" class="form-control" id="dbId" name="dbId"
                                        value="<%= getdbdataById?.id %>" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="firmName">DB Name</label>
                                    <input type="text" class="form-control" id="firmName" name="firmName"
                                        value="<%= getdbdataById?.firmName %>" required readonly>
                                </div>
                                <div class="form-group">
                                    <label for="email">DB Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        value="<%= getdbdataById?.email %>" required readonly>
                                </div>
                                <% if (getdbdataByIdApproval && getdbdataByIdApproval.length> 0) { %>
                                    <% const sortedApprovalData=getdbdataByIdApproval.sort((a, b)=> a.sequence -
                                        b.sequence);

                                        sortedApprovalData.forEach(function(item, idx) { %>
                                        <div class="form-group">
                                            <label for="approver_<%= idx %>">
                                                <%= item.role_name %>
                                            </label>
                                            <input type="hidden" name="role_id[<%= idx %>]"
                                                value="<%= item.role_id %>" />
                                            <select class="form-control" id="approver_<%= idx %>"
                                                name="approver_id[<%= idx %>]" required>
                                                <option value="">Select User</option>
                                                <% if (getuserdata && getuserdata.length> 0) { %>
                                                    <% getuserdata.forEach(function(user) { %>
                                                        <% if (user.role_id==item.role_id) { %>
                                                            <option value="<%= user.id %>" <%=user.id==item.approver_id
                                                                ? 'selected' : '' %> data-parent-id="<%= user.parent_id
                                                                    %>">
                                                                    <%= user.name %> (<%= user.employee_name %>), CB<%=
                                                                                user.id %>, role <%= user.role %>
                                                            </option>
                                                            <% } %>
                                                                <% }); %>
                                                                    <% } %>
                                            </select>
                                        </div>
                                        <% }); %>
                                            <% } %>
                                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function updateNextDropdown(currentIdx, parentId) {
            var nextIdx = currentIdx + 1;
            var nextSelect = document.getElementById('approver_' + nextIdx);
        
            if (!nextSelect) return;
            
            // Add "Select User" option if it doesn't already exist
            if (nextSelect.options[0].value !== '') {
                var defaultOption = document.createElement('option');
                defaultOption.value = '';
                defaultOption.text = 'Select User';
                defaultOption.selected = true;
                nextSelect.insertBefore(defaultOption, nextSelect.options[0]);
            }
            
            // Ensure "Select User" is always selected
            nextSelect.selectedIndex = 0;
        }

        document.addEventListener('DOMContentLoaded', function () {
            <% if (getdbdataByIdApproval && getdbdataByIdApproval.length > 0) { %>
                <% getdbdataByIdApproval.forEach(function (item, idx) { %>
                    var select = document.getElementById('approver_<%= idx %>');
            if (select) {
                select.addEventListener('change', function () {
                    var selectedOption = this.options[this.selectedIndex];
                    var parentId = selectedOption.getAttribute('data-parent-id');

                    updateNextDropdown(<%= idx %>, parentId);
                });
            }
                <% }); %>
            <% } %>
        });
    </script>
    <%- include("../shared/super_footer.ejs") %>