<%- include("../shared/header.ejs") %>

    <style>
        .creat span {
            text-transform: uppercase;
            color: #e17350 !important;
            cursor: pointer;
            text-align: center;
            border-radius: 3px;
            border: 1px solid #fbeee9 !important;
            font-size: 14px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            background: #fbeee9;
            padding: 10px;
        }

        .btn-icon {
            background: #ffffff;
            border: 1px solid #808080;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            display: flex;
            cursor: pointer;
            top: 10px;
            margin-top: -4px;
            margin-right: 10px;
        }

        .role-hadding a {
            text-decoration: none;
            color: #000;
        }

        .dataTables_wrapper {
            background-color: #f2edf3;
            padding: 1rem;
            border-radius: 20px;
            overflow: scroll;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        table.dataTable thead>tr>th.sorting,
        table.dataTable thead>tr>th.sorting_asc,
        table.dataTable thead>tr>th.sorting_desc,
        table.dataTable thead>tr>th.sorting_asc_disabled,
        table.dataTable thead>tr>th.sorting_desc_disabled,
        table.dataTable thead>tr>td.sorting,
        table.dataTable thead>tr>td.sorting_asc,
        table.dataTable thead>tr>td.sorting_desc,
        table.dataTable thead>tr>td.sorting_asc_disabled,
        table.dataTable thead>tr>td.sorting_desc_disabled {
            cursor: pointer;
            position: relative;
            padding-right: 26px;
            white-space: pre;
        }

        .scouting_sheet table,
        .distributors-details table,
        .opportunity-table-top table,
        .document_captur .document_table table,
        .role-management table,
        .user-management table,
        .territory-managemant table {
            border-radius: 10px;
            overflow: scroll;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            background-color: #fff;
            z-index: 1;
        }

        .role-dropdown-content,
        .user-dropdown-content {
            display: none;
            position: absolute;
            right: -42px;
            background-color: #f9f9f9;
            min-width: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            border-radius: 10px;
            overflow: hidden;
        }
        .role-btn {
            background-color: #007bff; 
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            display: inline-block;
        }

        .role-btn:hover {
            background-color: #0056b3; 
        }

    </style>
    <!-- partial -->
    <div class="main-panel distributors-details">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card p-3 table-responsive">
                        <div class="d-flex justify-content-between my-4">
                            <div class="business-hading d-flex justify-content-between">
                                <h4>Role Management</h4>

                            </div>
                            <div class="col-md-6 col-sm-6 my-1 d-flex justify-content-md-end justify-content-sm-end">
                                <!-- <a href="/role_managment/createrole" class="role-btn">CREATE ROLE</a> -->
                            </div>
                            
                        </div>
                        <div class="table-responsive">
                            <div>


                                <table id="distributors-details-tabless"
                                    class="display table invite mt-3 table-hover responsive nowrap" style="width: 100%">

                                    <thead>
                                        <tr>
                                            <th>ROLE NAME</th>
                                            <th>DISPLAY NAME</th>
                                            <th>PERMISSION (S)</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="search_table_data">

                                            <% roleManagment.forEach((data)=> { %>
                                                <tr>
                                                    <td class="text_uppercase">
                                                        <%= data.role %>
                                                    </td>

                                                    <td>
                                                        <%= data.display_name %>
                                                    </td>
                                                    <td>
                                                        <%= data.module_names %>
                                                    </td>

                                                    <td class="role-icon">
                                                        <!-- <a href="/role_managment/editrole?role=<%= data.role %>"
                                                            class="d-flex align-items-center"><i
                                                                class="mdi mdi-lead-pencil"></i><span
                                                                class="mx-2">Edit</span></a> -->
<!-- 
                                                        <a href="#" class="d-flex align-items-center"
                                                            data-bs-toggle="modal" data-bs-target="#deleteModal"
                                                            data-email="<%= data.id %>">
                                                            <i class="mdi mdi-delete"></i><span
                                                                class="mx-2">Delete</span>
                                                        </a> -->
                                                    </td>
                                                </tr>
                                                <% }) %>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>





    <!-- Bootstrap Modal for Delete Confirmation -->
    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this role?
                </div>
                <div class="modal-footer">
                    <a href="#" id="deleteConfirmButton" class="btn btn-danger">Delete</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>



    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        function showToast(icon, title) {
            Toast.fire({
                icon: icon,
                title: title
            });
        }
        "  <% if (message) { %>"
        showToast("error", "<%= message %>");
        "<% } else if (success) { %>"
        showToast("success", "<%= success %>");

        "  <% } %>"

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteModal = document.getElementById('deleteModal');
            deleteModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                const role = button.getAttribute('data-email');

                const deleteConfirmButton = deleteModal.querySelector('#deleteConfirmButton');

                // Update the modal's content
                deleteConfirmButton.href = `/role_managment/delete?role=${role}`;
            });
        });
    </script>


    <%- include("../shared/footer.ejs") %>