<%- include("../shared/header"); %>
<style>
  .offboard-grid {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .row-wrapper {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    gap: 100px;
  }

  .single-center {
    justify-content: center;
  }

  .offboard-card {
    width: 400px;
    height: 230px;
    background: #001e8a;
    color: white;
    border-radius: 50px;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .offboard-card h3 {
    font-size: 28px;
    margin-top: 15px;
    color: white !important;
  }
    .offboard-card h4 {
    font-size: 24px;
    margin-top: 15px;
    color: white !important;
  }
  .count {
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
  }

  .card-icon {
    width: 85px;
    margin: 0 auto;
  }

  .breadcrumb-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .breadcrumb-link {
    color: #000;
    font-size: 23px;
    text-decoration: none;
    font-weight: 600;
  }

  .arrow {
    color: #000;
    font-weight: bold;
  }

  .back-icon {
    font-size: 22px;
    text-decoration: none;
    color: black;
    margin-right: 8px;
  }

  .active {
    font-weight: 600;
    color: #000;
  }
  .back-btn {
    display: inline-block;
    width: 19px;
    height: 19px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    transform: rotate(45deg);
    margin-right: 10px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .row-wrapper {
      flex-direction: column;
      align-items: center;
    }

    .offboard-card {
      width: 90%;
    }
  }
</style>

<div class="container mt-4">
  <div class="breadcrumb-nav">
    <a href="/dashboard" class="back-btn"></a>
    <a href="/dashboard" class="breadcrumb-link">Dashboard</a>
    <a href="/dashboard" class="back-btn"></a>
    <a href="/dashboard/offboard" class="breadcrumb-link active">Offboarding</a>
  </div>

  <div class="offboard-grid">
    <div class="row-wrapper">
      <div class="offboard-card">
        <img src="../../public//images/Total Active Applications.png" class="card-icon" />
        <h3>Total Active Applications</h3>
        <p class="count"><%=totalActiveApplication%></p>
      </div>

      <div class="offboard-card">
        <img src="../../public//images/Complete Application.png" class="card-icon" />
        <h3>Complete Applications</h3>
        <p class="count"><%=totalCompleteApplication%></p>
      </div>
    </div>

    <div class="row-wrapper single-center">
      <div class="offboard-card">
        <img src="../../public//images/Application in Draft.png" class="card-icon" />
        <h3>Application Pending at distributors</h3>
        <p class="count"><%=totalDraftsApplication%></p>
      </div>
    </div>
  </div>
</div>

<%- include("../shared/footer"); %>
